* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Clicker Script", cursive;
  font-size: 1.5rem;
  color: #fff;
  background-image: url(image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: rgba(255, 255, 255, 0.1);
  width: 15rem;
  height: 30rem;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 10px 5px 10px rgba(167, 218, 219, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.aboutme h3 {
  text-align: center;
  padding-top:1rem;
}
.aboutme h3:hover{
  color:rgba(255, 255, 255, 0.2);
}
.aboutme h3::after{
  content: "";
  position: absolute;
  width: 4rem;
  height: 2px;
  background-color: #fff;
  top: 3rem;
  left: 37%;
  animation-name: deco;
  animation-duration: 2s;
}
@keyframes deco {
  0% 
  {width: 0;}
  100% 
  {width: 4rem;}
}
.aboutme p{
  text-align:center;
  padding:1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.projects h3{
 text-align:center; 
 padding-bottom:0.9rem;
}

.projects h3:hover{
  color:rgba(255, 255, 255, 0.2);
}

.projects h3::after{
  content: "";
  position: absolute;
  width: 4rem;
  height: 2px;
  background-color: #fff;
  top: 12rem;
  left: 37%;
  animation-name: deco;
  animation-duration: 2s;
}
@keyframes deco {
  0% {
    width: 0;
  }
  100% {
    width: 4rem;
  }
}

.projects a{
  text-decoration:none;
  color:#fff;
  font-size:1rem;
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 0.6rem;
}

.projects a:hover{
  color: rgba(255, 255, 255, 0.2);
}

.contact h3{
 text-align:center;
 padding:0.7rem;
}

.contact h3::after{
  content: "";
  position: absolute;
  width: 4rem;
  height: 2px;
  background-color: #fff;
  top: 23.1rem;
  left: 37%;
  animation-name: deco;
  animation-duration: 2s;
}
@keyframes deco {
  0% {
    width: 0;
  }
  100% {
    width: 4rem;
  }
}

.contact h3:hover{
  color:rgba(255, 255, 255, 0.2);
}

.contact a{
  text-decoration:none;
  color:#fff;
  padding:1.6rem;
}

.contact a:hover{
  color:rgba(255, 255, 255, 0.2);
}

.footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align: center;
  font-size:0.9rem;
}